* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1025px;
  margin: 0 auto;
}

.hero {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.hero__content {
  background-image: url("img/illustration.png");
  background-repeat: no-repeat;
  background-position: bottom 60px right 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__menu {
  margin-top: 32px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__header {
  margin-top: 115px;
  width: 504px;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 74px;
  color: #1F3F68;
}

.hero__text {
  margin-top: 32px;
  width: 425px;
  opacity: 60%;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #1F3F68;
}

.hero__button {
  display: inline-block;
  margin-top: 72px;
  height: 56px;
  width: 220px;
  margin-bottom: 190px;
  border-radius: 10px;
  color: white;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px 0px #356EAD33;
          box-shadow: 5px 10px 20px 0px #356EAD33;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 15px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.what-we-do {
  margin-top: 64px;
}

.what-we-do__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.what-we-do__header {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
  text-align: center;
  color: black;
}

.what-we-do__cards {
  margin: 48px -16px -16px -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.what-we-do__card {
  width: 320px;
  margin: 16px;
  -webkit-box-shadow: 5px 20px 50px 0px #1070B133;
          box-shadow: 5px 20px 50px 0px #1070B133;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 42px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.what-we-do__card-img {
  margin-top: 0;
}

.what-we-do__card-header {
  margin-top: 48px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #1F3F68;
}

.what-we-do__card-text {
  margin-top: 16px;
  opacity: 60%;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #1F3F68;
}

.what-we-do__card-button {
  margin-top: 32px;
  width: 120px;
  height: 27px;
  color: #5A98D0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-decoration: none;
}

.our-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

.our-projects__header {
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
  text-align: center;
}

.our-projects__text {
  width: 75%;
  margin-top: 32px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #222222;
}

.our-projects__photos {
  margin-top: 64px;
}

.our-projects__dual-photos {
  margin: 16px -16px -16px -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-projects__dual-photo {
  margin: 16px;
}

.our-projects__photo > img {
  width: 100%;
}

.our-projects__photo {
  position: relative;
}

.our-projects__photo-title {
  position: absolute;
  left: 32px;
  top: 32px;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  color: white;
}

.our-projects__photo-title-big {
  position: absolute;
  right: 64px;
  top: 64px;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-align: right;
  color: white;
}

.footer {
  margin-top: 112px;
  background: #316099;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 66%;
}

.footer__top-header {
  margin-top: 48px;
  width: 336px;
  color: white;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
}

.footer__top-text {
  margin-top: 32px;
  margin-bottom: 64px;
  color: white;
  opacity: 60%;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.footer__lets-talk-link {
  width: 133px;
  height: 31px;
  background: #5A98D0;
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.footer__line {
  opacity: 0.4;
  border: 1px solid #FFFFFF;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contact-list {
  margin-top: 64px;
  margin-left: 16px;
  list-style: decimal;
  list-style-position: outside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact-list-item {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.footer__contact-text {
  width: 316px;
  padding-left: 19px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.footer__bottom-text {
  margin-top: 64px;
  margin-bottom: 64px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.4;
}

.contact-us {
  min-height: 250px;
  background-image: url("img/blue-bubles.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 1024px) {
  .contact-us__nav {
    margin-top: -32px;
    padding: 0 32px;
  }
}

.contact-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us__header {
  margin-top: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.contact-us__text {
  margin-top: 16px;
  margin-bottom: 48px;
  width: 80%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-form {
  margin-top: 56px;
}

.contact-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .contact-form__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-form__title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  text-transform: uppercase;
}

.contact-form__title {
  margin-bottom: 24px;
}

.contact-form__text {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  text-decoration: none;
}

.contact-form__text > img {
  margin-right: 16px;
}

.contact-form__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 300px;
  padding-right: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1024px) {
  .contact-form__links {
    padding: 0;
  }
}

.contact-form__link-item {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contact-form__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 1024px) {
  .contact-form__message {
    margin-top: 56px;
  }
}

.contact-form__list-item {
  list-style-type: none;
}

.contact-form__image {
  width: 300px;
  padding: 56px 0;
}

@media (max-width: 1024px) {
  .contact-form__image {
    padding: 0 0 8px 0;
  }
}

.contact-form__message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 56px;
}

.contact-form__message > h4 {
  margin-bottom: 16px;
}

.contact-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 32px;
}

.contact-form__input {
  opacity: 0.4;
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 21px 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
}

.contact-form__input-textarea {
  height: 144px;
}

.contact-form__label {
  margin-bottom: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
}

.contact-form__button {
  margin-top: 72px;
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  height: 72px;
  text-transform: uppercase;
  border-width: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.contact-us__map {
  width: 100%;
  height: 480px;
  margin-top: 96px;
  border: none;
}

@media (max-width: 1024px) {
  .hero__content {
    padding: 0 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .hero__content {
    background-size: 50%;
    background-position: bottom 107px right 32px;
  }
  .hero__menu {
    margin-top: 48px;
  }
  .hero__header {
    width: 66%;
  }
  .what-we-do {
    padding: 0 32px;
  }
  .what-we-do__card-header {
    width: 100%;
  }
  .what-we-do__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our-projects {
    margin-top: 128px;
    padding: 0 32px;
  }
  .footer__content {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footer__top {
    margin: 0 128px;
  }
  .footer__bottom {
    margin: 0 128px;
  }
  .footer__contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contact-text {
    width: auto;
  }
}

@media (max-width: 667px) {
  .hero__content {
    padding: 0 16px;
    background-image: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__menu {
    width: 100%;
    margin-top: 16px;
  }
  .hero__header {
    margin-top: 32px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 37px;
  }
  .hero__text {
    margin-top: 16px;
    width: 100%;
    text-align: center;
  }
  .hero__button {
    margin-top: 32px;
    margin-bottom: 48px;
    width: 108px;
    height: 27px;
    font-size: 12px;
    line-height: 26px;
    padding: 0;
  }
  .what-we-do {
    margin-top: 48px;
    padding: 0 16px;
  }
  .what-we-do__header {
    width: 100%;
    font-size: 24px;
    line-height: 28px;
  }
  .what-we-do__cards {
    margin-top: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .what-we-do__card {
    width: inherit;
  }
  .our-projects {
    margin-top: 64px;
    padding: 0 16px;
  }
  .our-projects__header {
    font-size: 24px;
    line-height: 28px;
  }
  .our-projects__text {
    width: 100%;
  }
  .our-projects__photos {
    margin-top: 80px;
  }
  .our-projects__dual-photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our-projects__photo-title-big {
    font-size: 16px;
    line-height: 19px;
    right: 16px;
    top: 16px;
  }
  .our-projects__photo-title {
    font-size: 16px;
    line-height: 19px;
    top: 26px;
    left: 16px;
    text-align: left;
  }
  .footer {
    margin-top: 64px;
  }
  .footer__top {
    margin: 0 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top-header {
    width: 100%;
    margin-top: 16px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
  }
  .footer__top-text {
    margin-bottom: 42px;
    width: 100%;
    text-align: center;
  }
  .footer__lets-talk-link {
    width: 108px;
    margin-bottom: 42px;
  }
  .footer__bottom {
    margin: 0 16px;
  }
  .footer__bottom-text {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */